* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 236, 230); /* Fallback color */
    background-image: url('../images/backgroundIMG.jpg');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image in the viewport */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Makes the background image fixed in place */
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
    background-color: hsl(190, 4%, 33%);
    max-width: 1600px;
    margin: 20px auto 0px;
    height: 80px;
    box-shadow: #474747;
    border: 2px solid #000000;
}

.left-heading {
    flex: 1; /* Allow this section to take up as much space as it can */
}

.center-heading {
    text-align: center;
    flex: 3; /* Make this section larger to center the content */
}

.right-heading {
    flex: 1;
}

#heading-container h1 {
    margin: 0;
}

#heading-container .by-text {
    margin-left: 10px;
    font-size: 1em;
    color: #d3d3d3;
}

#container {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 0px;
    padding: 0px;
    position: relative;
    
}

h1 {
    font-size: 3em;
    color: #e2e2e2;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#userCountDisplay {
    margin-left: 5px;
    color: #fff;
}

p {
    line-height: 1.6;
    color: #ff9a3c;
    margin-bottom: 20px;
}

canvas {
    display: block;
    /*width: 100%;
    height: 720px;*/
    border: 3px solid #474747;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#toolbar {
    height: 60px;
    display: flex;
    margin-top: 5px;
    text-align: center;
    justify-content: left;
    align-items: center; /* Vertically center the items */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
    background-color: #fcfdff54;
    border: 1px solid #474747;
}

#toolbar select {
    background-color: #007bff; /* Sets the button background color to a blue shade */
    color: #fff; /* Sets the text color of the button to white */
    border: none; /* Removes the default border */
    padding: 10px 20px; /* Adds 10 pixels of padding on top and bottom, 20 pixels on left and right */
    margin-right: 35px; /* Adds 5 pixels of space around each button */
    font-size: 16px; /* Sets the font size to 16 pixels */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
    border-radius: 5px; /* Rounds the corners of the button with a 5-pixel radius */
    transition: background-color 0.3s; /* Adds a smooth transition effect for background color changes */
}

.tool-group label  {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 7px;
    font-size: 1em;

}

#toolbar button:hover {
    background-color: #91c6ff; /* Changes the background color to a darker blue on hover */
}

.draw-button {
    height: 50px;
}

.eraser-button{
    height: 50px;
}

/* Styling for the footer */
footer {
    text-align: center; /* Centers the text inside the footer */
    margin-top: 40px; /* Adds 40 pixels of space above the footer */
    color: #999; /* Sets the text color to a light gray */
}

.mouse-icon {
    position: absolute;
    background: url('../images/mouseimg.png') no-repeat center center;
    background-size: contain; /* Adjust as needed: 'cover', 'contain', or specific size */
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 1000;

}
